@use "_search.scss";
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 92.5%;
  color: turquoise;
  height: 100vh;
  font-weight: 500;
  background-color: black;
}
.header {
  font-size: 6rem;
  margin: auto;
  text-align: center;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
}
.goswam {
  text-align: center;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
