@use "_search.scss";
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 92.5%;
  color: #2be3d1;
  height: 100vh;
  font-weight: 500;
  background: linear-gradient(90deg, #270054, #9d0998);
  background-repeat: round;
}
.header {
  font-size: 6rem;
  margin: auto;
  text-align: center;
  filter: drop-shadow(3px 6px 9px black);
}
.goswam {
  text-align: center;

  font-size: 0.7rem;
}

.container {
  width: 75%;
  margin: auto;
}
#events-header {
  font-size: 4rem;
  color: #2be3d1;
  filter: drop-shadow(2px 2px 4px black);
}
.event {
  font-size: 3rem;
  color: white;
  margin: 3rem;
  filter: drop-shadow(2px 2px 2px black);
}
